@keyframes bg {
    0% {
        left: 0;
    }

    100% {
        left: calc(-55 / 720 * 1280vh);
    }
}

@keyframes protagonist {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}