@keyframes bg {
    0% {
        left: 0;
    }

    100% {
        left: calc(-55 / 720 * 1280vh);
    }
}

@keyframes protagonist {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes photo {
    0% {
        top: calc(50vh - 45 / 16 * 9vw);
    }

    100% {
        top: 63vh;
        transform: rotate3d(5, -2, 0.7, 45deg) scale(0);
    }
}

@keyframes dog {
    0% {
        left: -100vw;
    }

    100% {
        left: -6vh;
    }
}